html{
    width: 100%;
}
.Header{
    display: flex;
}
.Header_left{
    width: 150px;
    background-color: #191718;    
}
.Header_item{
    padding: 0;
    margin: 0;
}
.logo{
    height: 122px;
    width: 310px;
}
.item_link{
    text-decoration: none;
    color: #AAAAAA;
}

.item{
    height: 44px;
    color: #ffffff;
    list-style: none;
    padding-left: 16px;
    padding-top: 14px;
    text-decoration: none;
    border: 1px solid #ffffff;
}
.item:hover{
    background-color: #5C5C5C;
}
.item_link:hover{
    color: #ffffff;
}
.Header_right{
    width: 1179px;
    text-align: center;

}
.Header_content{
    padding: 0 50px 200px;

}
.container{
    padding-top: 10px;
    padding-left: 110px;
    padding-right: 110px;
    padding-bottom: 40px;
    background-color: #EFEFEF;
    font-size: 16px;
}
.content{
    height: 95px;
    width: 872px;
    text-align: center;


}
.icon{
    height: 128px;
    width: 128px;

}
.icon_text{
    list-style: none;
}
.icon_t{
    text-align: left;
    display: flex;
}
.text{
    width: 70%;
}
.text_ic{
    list-style: none;
    flex: 1;
    margin-top: 0px;
    width: 350px;
    text-align: left;
}
.text_lr{
    margin: 0px;
}
.content_list{
    width: 500px;
    padding: 0;
}
.container_content{
    display: flex;
}
.title_content{
    text-align: left;
}
.footer{
    width: 1179px;
    height: 79px;
    border-top:  1px solid #DEDEDE;
}
.footer_content{
    text-align: left;
    padding: 30px 50px;
    color: #3E3E3E;
}